<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIKNRIHzJeP0RlXGPOEFYcXrZk83sg6NI</string>
	<key>GCM_SENDER_ID</key>
	<string>179843738301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emreozturk.secondToDoCaller</string>
	<key>PROJECT_ID</key>
	<string>secondtodocaller</string>
	<key>STORAGE_BUCKET</key>
	<string>secondtodocaller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179843738301:ios:9d8d6970ee031bd389a5d4</string>
</dict>
</plist>